page-signup-tab {
  .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
    border-color: map-get($colors, vir);
  }
  .segment-md .segment-button {
    color: map-get($colors, vir);
    font-size: 15px;
  }
  .toolbar-background.toolbar-background-md {
    background: map-get($colors, vir);
  }
}
