page-online-buy {

  .online-redirecting-content img {
    border: 1px solid lightgrey;
    width: 40%;
    padding: 3px;
    border-radius: 4px;
    vertical-align: middle;
    margin: 0 3px;
  }
  .online-redirecting-content ion-icon{
    font-size: 30px;
  }
}
