<!--
  Generated template for the OfflineCategoriesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar color="vir">
      <ion-title>Offline Stores</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
  
    <!-- <ion-item class='offline_products' *ngFor="let op of offlineProducts">
      <img [src]="op.image">
    </ion-item> -->
  
    <ion-grid class="no-padding" >
        <ion-row>
          <ion-col col-6 class="no-padding" *ngFor="let op of offlineStores; let i=index"  [ngClass]="(i%2==0)?'oddCol':'evenCol'" (click)="contentItemSelected(op.partnerid,op.storename)" >
            <ion-card class="no-left-margin" >  
              <ion-card-content class="no-padding no-margin subject-background">
                
                <div class="card-content-outer" post-content="">
                  <div class="card-content">
                      <img [src]="op.storebanner">
                  </div>
                </div>
                <div class="card-header">
                    <h1 [innerHTML]="op.storename"></h1>
                  </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
  
  </ion-content>
  
  