page-offline-categories {
  span.button-inner {
    text-transform: capitalize;
  }
  span.button-inner {
    font-size: 12px;
  }
  .light{
    width: 28%;
    background: #3e8f3e;
  }
  .vir{
    width: 27%;
    background: #245580;
  }
  .dark{
    width: 34%;
    background: #d9534f;
  }
}
