<!--
  Generated template for the OfflineCategoriesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="vir">        
    <ion-title>{{store_name}}</ion-title>
    
  </ion-navbar> 

</ion-header>


<ion-content>

  <ion-item class='offline_products' text-center>
    <img [src]="store_banner"> 
  </ion-item>

  <ion-grid padding >
      <ion-row>
        <ion-col col-12 class="no-padding" *ngFor="let op of store_categories; let i=index"  [ngClass]="(i%2==0)?'oddCol':'evenCol'" >
          <ion-card class="no-left-margin" padding  style="background:#f5f5f5" >  
            <ion-card-content class="no-padding no-margin subject-background">
              
              <div class="card-content-outer" post-content="" > 
                <div class="card-content" style="background:#f5f5f5">
                   <h2 [innerHTML]="op.title" style="color:#960000"></h2> 
                   <div [innerHTML]="op.description"></div>
                   <strong>Terms and Conditions</strong> 
                   <div *ngIf="op.tnc==''"><ion-icon name="checkmark"></ion-icon> Not Applicable</div>
                   <span *ngIf="op.tnc"><div *ngFor="let tc of op.tnc" > <ion-icon name="checkmark"></ion-icon> {{tc.tnc}}</div> </span> 
                   <button ion-button color="light" (click)="navigateAvailableAt(op.partnerlocation)"> Available at</button> <button (click)="navigateViewDetails(op.categoryid,op.partnerlocation)" ion-button color="vir">View Details</button>
                </div>
              </div>
              
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col *ngIf="store_categories==''"><ion-label color="vir">Sorry, no categories found for {{store_name}} ! </ion-label></ion-col>   
      </ion-row>
    </ion-grid>

</ion-content>

